<nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">users</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products-list">Product List</a>
                        
                        
                    </div>

                </li>
                <li class="menu-item has-submenu" id="categories">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">categories</span>
                    </a>
                    <div class="submenu">
                    
                        <a href="/admin/categories" id="categories">Category list </a>
                    </div>
                </li>
               <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orderlist">Order list 1</a>
                        
                    </div>
                </li>
                
                
                <li class="menu-item">
                    <a class="menu-link" href="/admin/Add-product"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/Add-product">Add product</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu" id="coupons">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/new-coupon"><i class="icon material-icons md-add_box"></i>
                            <span class="text">Add new coupon</span> </a>
                            <a href="/admin/Coupons"><i class="icon material-icons md-account_balance_wallet"></i>
                                <span class="text">Coupons list</span> </a>
                    </div>
                </li>

                
                <li class="menu-item has-submenu" id="banners">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_basket"></i>
                        <span class="text">Banner Management</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/banner-upload"><i class="icon material-icons md-add_box"></i>
                            <span class="text">Add new Banner</span> </a>
                            <a href="/admin/bannerlist"><i class="icon material-icons md-account_balance_wallet"></i>
                                <span class="text">Banner list</span> </a>
                    </div>
                </li>
                

                
            </ul>
            <br>
            <br>
        </nav>
