<%- include("./layouts/Admin-header.ejs") %>
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Create Banner</h1>
    <form id="userProfileForm"  >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                    <div id="nameError" class="Error"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bannerType">Banner Type:</label>
                    <select class="form-control" id="bannerType" name="bannerType" required>
                        <option value="">Select Banner Type</option>
                        <option value="Home Banner">Home Banner</option>
                        <option value="Side Banner">Side Banner</option>
                        <option value="Middle Banner">middle Banner</option>
                        <!-- Add more options as needed -->
                    </select>
                    <div id="bannerTypeError" class="Error"></div>
                </div>
            </div>
        </div>
        <!-- Existing form fields -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description" required>
                    <div id="descriptionError" class="Error"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" required>
                    <div id="startDateError" class="Error"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" required>
                    <div id="endDateError" class="Error"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bannerImage">Banner Image:</label>
                    <input type="file" class="form-control-file" id="bannerImage" name="bannerImage" accept="image/*" required>
                    <div id="bannerImageError" class="Error"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="imagePreviewContainer" class="mt-3"></div> 
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <button id="cropButton" type="button" class="btn btn-primary btn-block">Crop Image</button> <!-- Crop button -->
            </div>  
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block" id="submitButton">Submit</button> 
            </div>
        </div>
        <input type="hidden" id="croppedImageData" name="croppedImageData">
    </form>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script> -->

 <script>
    document.getElementById("bannerImage").addEventListener("change", handleFileSelect);
    const cropButton = document.getElementById("cropButton");
    const submitButton = document.getElementById("submitButton");
    let cropper;

    function handleFileSelect(event) {
        event.preventDefault();

        const file = event.target.files[0];

        const thumbnail = document.createElement("div");
        thumbnail.classList.add("thumbnail");

        const img = document.createElement("img");
        img.src = URL.createObjectURL(file);
        img.alt = file.name;
        img.classList.add("img-thumbnail", "mt-2");

        thumbnail.appendChild(img);
        document.getElementById("imagePreviewContainer").innerHTML = ""; // Clear previous content
        document.getElementById("imagePreviewContainer").appendChild(thumbnail);

        // Initialize Cropper.js on the selected image
        cropper = new Cropper(img, {
            // aspectRatio: 16 / 9,
            viewMode: 1,
            zoomable: false,
        });
        console.log("Cropper initialized:", cropper)
    }

    async function cropSave() {
        return new Promise((resolve, reject) => {
            if (!cropper) {
                reject("Cropper not initialized");
            }
            
            
            const croppedCanvas = cropper.getCroppedCanvas();
            console.log(croppedCanvas,'CROPED Img');
            if (!croppedCanvas) {
                reject("Failed to get cropped canvas");
            }
            
            
            croppedCanvas.toBlob(blob => {
                if (!blob) {
                    reject("Failed to convert canvas to blob");
                }
                
               
                const file = new File([blob], 'cropped-image.png', { type: blob.type });
                console.log(file,'THIS IS FILE------');
                resolve(file);
            });
        });
    }

    async function save() {
        try {
            const resultData = await cropSave();

            const formData = new FormData();
            formData.append('croppedImageData', resultData);
            formData.append('name', document.getElementById('name').value);
            formData.append('description', document.getElementById('description').value);
            formData.append('startDate', document.getElementById('startDate').value);
            formData.append('endDate', document.getElementById('endDate').value);
            formData.append('bannerType', document.getElementById('bannerType').value);

            const response = await fetch('/admin/banner-uploads', {
                method: 'POST',
                body: formData,
            });

            console.log(response,'THIS IS RESPONSE');
            if (response.status == 200) {
                window.location.href = '/admin/bannerlist';
            }
        } catch (error) {
            console.error('Error uploading banner:', error);
        }
    }

    function validate() {
        const isValid = checkEmptyFields();
        return isValid;
    }

    function checkEmptyFields() {
        const fields = ['name', 'bannerType', 'description', 'startDate', 'endDate', 'bannerImage'];
        let isValid = true;
        
        fields.forEach(field => {
            const inputElement = document.getElementById(field);
            const errorElement = document.getElementById(`${field}Error`);

            if (inputElement.value.trim() === '') {
                errorElement.innerHTML = 'Field is required';
                isValid = false;
            } else {
                errorElement.innerHTML = ''; // Clear previous error messages
            }
        });

        return isValid;
    }

    submitButton.addEventListener('click', async (event) => {
        event.preventDefault();
        const isValid = await validate();
        if (!isValid) {
            event.preventDefault();
        } else {
            save();
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        const currentUrl = window.location.pathname;
       

        const menuItems = [
            { url: "/admin/home", id: "dashboard" },
            { url: "/admin/users", id: "users" },
            { url: "/admin/products-list", id: "products" },
            { url: "/admin/orderlist", id: "orders" },
            { url: "/admin/Add-product", id: "add-product" },
            { url: "/admin/new-coupon", id: "coupons" },
            { url: "/admin/Coupons", id: "coupons" },
            {url:"/admin/categories",id:"categories"},
            {url:"/admin/banner-upload",id:"banners"},
            {url:"/admin/bannerlist",id:"banners"}
        
        ];
    
        
        const activeMenuItem = menuItems.find(item => item.url.includes(currentUrl));
    
           if (activeMenuItem) {
            
            const activeMenuLink = document.querySelector(`.menu-item#${activeMenuItem.id}`);
            
            if (activeMenuLink) {
                activeMenuLink.classList.add("active");
            }
    
            localStorage.setItem("activeMenuItem", activeMenuItem.id);
        }
    });
    </script>
    
<script src="/Admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/Admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/Admin-assets/js/vendors/select2.min.js"></script>
<script src="/Admin-assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/Admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/Admin-assets/js/vendors/chart.js"></script>

<script src="/Admin-assets/js/main.js" type="text/javascript"></script>
<script src="/Admin-assets/js/custom-chart.js" type="text/javascript"></script>

