<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
    <link rel='stylesheet' type='text/css' media='screen' href='grm.css'>
</head>
<body>
    <form method="post" action="/forget-password" id="lokiverse">
    <h1>Forget password</h1>
    <% if(locals.message) { %>
        <h4><%= message %></h4>
        <% } %>
    <input type="email" placeholder="enter email" name="email" id="email"> 
    <button>Send reset link</button>
    </form>
</body>
</html>