<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
    <link rel='stylesheet' type='text/css' media='screen' href='grm.css'>
</head>
<style>
    .Error{
      color:red;
      font-size: 16px;
      font-weight: 300;
    }
</style>
<body>
    <form method="post" action="/forget-password" class="ginger" onsubmit="return validate()" novalidate>
    <h1>Forget password</h1>
    <% if(locals.message) { %>
        <h4><%= message %></h4>
        <% } %>
    <input type="email" placeholder="enter email" name="email" id="email">
    <div id="emailError" class="Error" ></div>
    <button>Send reset link</button>
    </form>
    <script>
        function validate()
        {
            const email=document.getElementById('email')
             const emailError=document.getElementById('emailError')
            
             
  const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
  if (email.value.trim() === "") {
        emailError.textContent = "Field is required";
        setTimeout(function() {
            emailError.textContent = '';
        }, 3000);
        return false;
    } else if (!emailRegex.test(email.value)) {
        emailError.textContent = "Enter a valid Email";
        setTimeout(function() {
            emailError.textContent = '';
        }, 3000);
        return false;
    }

             return true
        }
    </script>
</body>
</html>