<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel='stylesheet' type='text/css' media='screen' href='grm.css'>
</head>
<body>
    <div class="container">
        <form method="post" action="/reset-password" class="ginger">
            <h2>Forget Password</h2>
            <% if(locals.message) { %>
                <h4><%= message %></h4>
            <% } %>
            <div class="form-group">
                <label for="password">Enter Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password">
            </div>
            <input type="hidden" name="id" value="<%= _id %>">
            <div class="form-group">
                <label for="cpassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="cpassword" placeholder="Confirm password">
            </div>
            <button type="submit">change password</button>
        </form>
    </div>
</body>
</html>