<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel='stylesheet' type='text/css' media='screen' href='grm.css'>
    <style>
        .Error{
      color:red;
      font-size: 16px;
      font-weight: 300;
    }
    </style>
</head>
<body>
    <div class="container">
        <form method="post" action="/reset-password" class="ginger" onsubmit="return validate()">
            <h2>Forget Password</h2>
            <% if(locals.message) { %>
                <h4><%= message %></h4>
            <% } %>
            <div class="form-group">
                <label for="password">Enter Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password">
            </div>
            <div id="passwordError" class="Error"></div>
            <input type="hidden" name="id" value="<%= _id %>">
            <div class="form-group">
                <label for="cpassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="cpassword" placeholder="Confirm password">
            </div>
            <div id="confirmpassError" class="Error"></div>
            <button type="submit">change password</button>
        </form>
    </div>
    <script>
        function validate() {
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('confirmPassword');
            const passwordError = document.getElementById('passwordError');
            const confirmPasswordError = document.getElementById('confirmpassError');
        
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
        
            let anyEmpty = false;
        
            if (password.value.trim() === "") {
                passwordError.textContent = 'Field is required';
                anyEmpty = true;
                setTimeout(function() {
            passwordError.textContent = '';
        }, 3000);
            } else {
                if (!passwordRegex.test(password.value)) {
                    passwordError.textContent = "Password must be stronger";
                    anyEmpty = true;
                    setTimeout(function() {
            passwordError.textContent = '';
        }, 3000);
                }
            }
        
            if (confirmPassword.value.trim() === "") {
                confirmPasswordError.textContent = "Field is required";
                anyEmpty = true;
                setTimeout(function() {
                confirmPasswordError.textContent = '';
            }, 3000)
            } else {
                if (confirmPassword.value !== password.value) {
                    confirmPasswordError.textContent = "Two passwords do not match";
                    anyEmpty = true;
                    setTimeout(function() {
                confirmPasswordError.textContent = '';
            }, 3000)
                }
            }
        
            if (anyEmpty) {
                return false;
            }
        
            return true;
        }
        </script>
        
</body>
</html>